/* payment.css */

.inlineimage {
    max-width: 470px;
    margin-right: 8px;
    margin-left: 8px;
}

.images {
    display: inline-block;
    max-width: 98%;
    height: 22%;
    width: 22%;
    margin: 1%;
    left: 0px;
    text-align: center;
}

/* New CSS for hiding the payment form */
#paymentForm.hidden {
    display: none;
}

.modal {
    text-align: center;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for scrollbar width */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: auto;
}

/* MODAL FIX */
.panel-default {
    width: 90%; /* Adjust this value as needed */
    max-width: 500px;
    transform: translateX(-74%); /* This centers the box horizontally */
}

/* Response test */
@media only screen and (max-width: 1201px) {}

@media only screen and (max-width: 991px) {
  #top-header .header-links.pull-left {
    float: none !important;
  }
  #top-header .header-links.pull-right {
    float: none !important;
    margin-top: 5px;
  }
  .header-logo {
    float: none;
    text-align: center;
  }
  .header-logo .logo {
    display: inline-block;
  }
  #product-imgs {
    margin-bottom: 60px;
    margin-top: 15px;
  }
  #rating {
    text-align: center;
  }
  #reviews {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .section-title .section-nav {
    float: none;
    margin-top: 10px;
  }
  .section-tab-nav li {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 480px) {
  [class*='col-xs'] {
    width: 100%;
  }
  .store-grid {
    float: none;
    margin-top: 10px;
  }
  .store-pagination {
    float: none;
    margin-top: 10px;
  }
}

@media (min-width: 278px) {
  [class*='col-xs'] {
    .panel-default {
      width: 92%;
      max-width: 450px;
      transform: translateX(0%);
    }
  }
}

@media (min-width: 358px) {
  [class*='col-xs'] {
    .panel-default {
      width: 99%;
      max-width: 500px;
      transform: translateX(0%);
    }
  }
}

@media (min-width: 1022px) {
  [class*='col-xs'] {
    .panel-default {
      width: 100%;
      max-width: 600px;
      transform: translateX(-62%);
    }
  }
}

@media (min-width: 1278px) {
  [class*='col-xs'] {
    .panel-default {
      width: 100%;
      max-width: 600px;
      transform: translateX(-72%);
    }
  }
}